<nav>
  <ul>
    <li><a><%= link_to "Edit Profile", edit_user_path(current_user.id) %> </a> </li>
    <li><a><%= link_to "Sell Product", new_product_path %> </a> </li>
    <li><a><%= link_to "Share an Article", new_article_path %> </a> </li>
    <li><a><%= link_to "Logut", log_out_path %> </a> </li>
  </ul>
</nav>


